### Node ###
# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# dist/build compiled files
dist/

# Temporary folders
tmp/
temp/